:root {
  --color-primary: #000;
  --color-primary-light: #454545;
  --color-primary-opposite: #fff;
  --color-secondary: #0792bc;
  --color-accent: #f86363;
  --color-neutral-grey: #c1c1c1;
  --color-neutral-light-grey: #e2e2e2;
  --color-alert: #d23;
  --color-alert-light: #fdd;
  --color-alert-dark: #c3000f;

  --font-primary: "Verdana", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-weight: bold;
  text-transform: capitalize;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-accent);
}

ul {
  list-style-type: circle;
}

ul > li::before {
  display: none;
}

ol {
  list-style-type: upper-roman;
}

ol > li::before {
  display: none;
}

mark {
  background-color: var(--color-accent);
}

hr {
  border-color: var(--color-neutral-grey);
}
