:root {
  --color-primary: #000;
  --color-primary-light: #454545;
  --color-primary-opposite: #fff;
  --color-secondary: #0792bc;
  --color-accent: #f86363;
  --color-neutral-grey: #c1c1c1;
  --color-neutral-light-grey: #e2e2e2;

  --font-primary: "Verdana", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-weight: bold;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: var(--color-primary-opposite);
  background-color: var(--color-secondary);
}


mark {
  background-color: var(--color-accent);
}

li {
  font-weight: bold;
  text-transform: uppercase;
}
