.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-radius: 65px;
  color: var(--color-primary-opposite);
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary-opposite);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.btn-light {
  background-color: var(--color-neutral-light-grey);
  border-color: var(--color-neutral-light-grey);
  color: var(--color-primary);
}

.btn-light:hover {
  background-color: var(--color-neutral-grey);
  border-color: var(--color-neutral-grey);
  color: var(--color-primary-opposite);
}

.btn-submit:hover {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.animate-icon {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);

  transition: all .2s ease-in-out;
}

.animate-icon:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary-opposite);
}
