.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary-opposite);
}
