.masthead {
  background-color: var(--color-primary);
}

.logo-white {
  width: 146px;
}

.pad-t-3 {
  padding-top: 3.9rem;
}

.logo-link:focus {
  outline: 3px solid var(--color-primary-opposite);
}

.tool-bar-nav {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 450px;
}

@media only screen and (min-width: 38em) {

  .logo-white {
    width: 115px;
  }

}
