.sec-cont {
  max-width: 20em;
}

.text-sec {
  max-width: 25em;
}

.text-bg {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-primary-opposite);
}

.quant-item,
.order-info {
  color: var(--color-neutral-grey);
}

.item-img {
  border-radius: 15px;
}

.trash-icon {
  top: 2.5em;
  right: 6.5em;
}

.order-summ {
  border: 2px solid var(--color-neutral-grey);
  border-radius: 20px;
}

.order-hr {
  border: 1px solid var(--color-neutral-grey);
}

@media only screen and (min-width: 38em) {

  .sec-cont {
    max-width: 25em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary-opposite);
  }

}

@media only screen and (min-width: 60em) {

  .sec-cont {
    max-width: 26em;
  }

}

@media only screen and (min-width: 90em) {

  .sec-cont {
    max-width: 23em;
  }

}
