<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Pew Pew • {{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>

  <ul class="skip-links">
   <li><a href="#nav">Jump to navigation</a></li>
   <li><a href="#main">Jump to main content</a></li>
 </ul>

  {% pattern header/main-header %}
  {{content}}
  {% pattern footer/main-footer %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>
