---
layout: default
---
<div class="grid grid-middle pad-t pad-b">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 gutter">
    {% pattern product-sections/photo-array image1="/images/bb-yoda-t-1.jpg" image2="/images/bb-yoda-t-2.jpg" image1-alt="An image of a man wearing a white t-shirt with a design of Baby Yoda Sipping Soup on the front." image2-alt="An image of a man wearing a white t-shirt with a design of Baby Yoda Sipping Soup on the front." image1-aria="An image of a man wearing a white t-shirt with a design of Baby Yoda Sipping Soup on the front." image2-aria="An image of a man wearing a white t-shirt with a design of Baby Yoda Sipping Soup on the front." %}
  </div>

  <div class="unit xs-1 s-1 m-1-2 l-1-2 gutter">
    {% pattern product-sections/product-details prod-name="Baby Yoda Sipping Soup Tee" prod-price="22.99" prod-desc="A cotton tee with the best baby! (A.K.A.: Mando's favourite shirt)." prod-deets1="100% cotton" prod-deets2="Available in sizes XS – XXL" prod-ship="Please allow 2-3 weeks for delivery." %}
  </div>
</div>
