<div class="grid footer-nav bold">
  <nav class="unit xs-1-2 s-1-2 m-1-2 l-1-4 gutter-1-2">
    <ul class="list-group push-0">
      <li class="push {% if page.highlight_nav == 'new-arrivals' %}current{% endif %}"><a class="foot-items main-foot-items" href="#">New Arrivals</a></li>

      <li class="push {% if page.highlight_nav == 'shop' %}current{% endif %}"><a class="foot-items main-foot-items" href="/products/">Shop</a></li>

      <li class="push {% if page.highlight_nav == 'sale' %}current{% endif %}"><a class="foot-items main-foot-items" href="/sale/">Sale</a></li>

      <li class="push {% if page.highlight_nav == 'collectables' %}current{% endif %}"><a class="foot-items main-foot-items" href="#">Collectables</a></li>

      <li class="push {% if page.highlight_nav == 'legal' %}current{% endif %}"><a class="foot-items main-foot-items" href="/legal/">Legal</a></li>
    </ul>
  </nav>

  <div class="unit xs-1-2 s-1-2 m-1-2 l-3-4 gutter-1-2">
    <div class="grid">
      <nav class="unit xs-1 s-1 m-1 l-1-3 gutter-1-2">
        <ul class="list-group push-0">
          <li class="foot-li {% if page.highlight_nav == 'mens' %}current{% endif %}"><a class="foot-items main-foot-items" href="#">Mens</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Shirts</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Hoodies</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Pants</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Accessories</a></li>
        </ul>
      </nav>

      <nav class="unit xs-1 s-1 m-1 l-1-3 gutter-1-2">
        <ul class="list-group push-0">
          <li class="foot-li {% if page.highlight_nav == 'womens' %}current{% endif %}"><a class="foot-items main-foot-items" href="#">Womens</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Shirts</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Hoodies</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Pants</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Accessories</a></li>
        </ul>
      </nav>

      <nav class="unit xs-1 s-1 m-1 l-1-3 gutter-1-2">
        <ul class="list-group push-0">
          <li class="foot-li {% if page.highlight_nav == 'kids' %}current{% endif %}"><a class="foot-items main-foot-items" href="#">Kids</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Shirts</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Hoodies</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Pants</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="#">Accessories</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
