<div class="grid footer-nav bold">
  <nav class="unit xs-1-2 s-1-2 m-1-2 l-1-4 gutter-1-2">
    <ul class="list-group push-0">
      <li class="push {% if page.highlight_nav == 'new-arrivals' %}current{% endif %}"><a class="foot-items main-foot-items" href="/new-arrivals/">New Arrivals</a></li>

      <li class="push {% if page.highlight_nav == 'shop' %}current{% endif %}"><a class="foot-items main-foot-items" href="/products/">Shop</a></li>

      <li class="push {% if page.highlight_nav == 'sale' %}current{% endif %}"><a class="foot-items main-foot-items" href="/sale/">Sale</a></li>

      <li class="push {% if page.highlight_nav == 'collectables' %}current{% endif %}"><a class="foot-items main-foot-items" href="/collectables/">Collectables</a></li>
    </ul>
  </nav>

  <div class="unit xs-1-2 s-1-2 m-1-2 l-3-4 gutter-1-2">
    <div class="grid">
      <nav class="unit xs-1 s-1 m-1 l-1-3 gutter-1-2">
        <ul class="list-group push-0">
          <li class="foot-li {% if page.highlight_nav == 'mens' %}current{% endif %}"><a class="foot-items main-foot-items" href="/mens/">Mens</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/mshirt/">Shirts</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/mhood/">Hoodies</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/mpants/">Pants</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/macc/">Accessories</a></li>
        </ul>
      </nav>

      <nav class="unit xs-1 s-1 m-1 l-1-3 gutter-1-2">
        <ul class="list-group push-0">
          <li class="foot-li {% if page.highlight_nav == 'womens' %}current{% endif %}"><a class="foot-items main-foot-items" href="/womens/">Womens</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/wshirt/">Shirts</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/whood/">Hoodies</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/wpants/">Pants</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/wacc/">Accessories</a></li>
        </ul>
      </nav>

      <nav class="unit xs-1 s-1 m-1 l-1-3 gutter-1-2">
        <ul class="list-group push-0">
          <li class="foot-li {% if page.highlight_nav == 'kids' %}current{% endif %}"><a class="foot-items main-foot-items" href="/kids/">Kids</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/kshirt/">Shirts</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/khood/">Hoodies</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/kpants/">Pants</a></li>
          <li class="foot-list-items push-1-2 milli"><a class="foot-items" href="/kacc/">Accessories</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
