<nav class="relative navigation" role="navigation" id="nav">
  <input class="nav-check" name="nav-check" id="nav-check" type="checkbox" aria-label="Click here to open the navigation." required>
  <label class="nav-label" for="nav-check">
    <i class="icon i-64 icon-open">
      <svg><use xlink:href="/images/icons.svg#toggle-open" /></svg>
    </i>

    <i class="icon i-64 icon-close">
      <svg><use xlink:href="/images/icons.svg#toggle-close" /></svg>
    </i>
  </label>

  <ul class="main-nav milli bold push-0 zindex-1000" id="menu">
    <li {% if page.highlight_nav == 'new-arrivals' %}current{% endif %}><a href="/new-arrivals/">New Arrivals</a></li>

    <li {% if page.highlight_nav == 'shop' %}current{% endif %}><a href="/products">Shop</a></li>

    <li {% if page.highlight_nav == 'mens' %}current{% endif %}><a href="/mens/">Mens</a></li>

    <li {% if page.highlight_nav == 'womens' %}current{% endif %}><a href="/womens/">Womens</a></li>

    <li {% if page.highlight_nav == 'kids' %}current{% endif %}><a href="/kids/">Kids</a></li>

    <li {% if page.highlight_nav == 'collectables' %}current{% endif %}><a href="/collectables/">Collectables</a></li>

    <li {% if page.highlight_nav == 'sale' %}current{% endif %}><a href="/sale/">Sale</a></li>
  </ul>
</nav>
