.nav-label {
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
  background: url(../images/icons.svg#toggle-nav) center top no-repeat;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav {
  list-style-type: none;
  display: none;
  position: relative;
  padding-top: 1em
}

.main-nav > li {
  display: block;
  margin-left: 1.95rem;
  margin-right: 1.95rem;
  margin-bottom: 1.95rem;
}

.main-nav a {
  text-decoration: none;
}

.nav-check:checked ~ .main-nav {
  display: block;
}

.nav-check:checked ~ .nav-label {
  background-position: center bottom;
}

.page-nav {
  text-decoration: none;
  font-weight: bold;
}

.page-nav-current {
  font-weight: bold;
  color: var(--color-secondary);
}

.page-nav:hover,
.page-nav:focus {
  color: var(--color-accent);
}

.socials {
  background-color: var(--color-primary);
}

.social-icons {
  color: var(--color-primary-opposite);
}

.social-icons:hover {
  color: var(--color-secondary);
}

.social-icons:focus {
  outline: 3px solid var(--color-primary-opposite);
  color: var(--color-secondary);
}

.footer-nav {
  background-color: var(--color-primary);
}

.main-foot-items {
  text-transform: uppercase;
  font-size: .8784rem;
  line-height: 1.3rem;
}

.foot-items {
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.foot-items:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.foot-items:focus {
  color: var(--color-accent);
  text-decoration: underline;
  outline: 3px solid var(--color-primary-opposite);
}

.foot-li {
  margin-bottom: 1.3rem;
}

.foot-list-items {
  display: none;
}

.current-foot {
  color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  .main-foot-items{
    font-size: 1rem;
    line-height: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0;
    transform: none
  }

  .main-nav > li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .65rem;
  }

  input.nav-check,
  label.nav-label {
    display: none;
  }

}

@media only screen and  (min-width: 60em) {

  .foot-li {
    margin-bottom: .9rem;
  }

  .foot-list-items {
    display: block;
  }

}
