.navigation {
  background-color: var(--color-primary);
}

.current {
  color: var(--color-secondary);
}

.nav-label {
  cursor: pointer;
  display: block;
  padding: .5rem;
}

.nav-label:hover {
  background-color: var(--color-primary-light);
}

.nav-check:focus + .nav-label {
  outline: 3px solid var(--color-primary-opposite);
}

.icon-open,
.icon-close {
  color: var(--color-primary-opposite);
}

.icon-open {
  display: block;
}

.icon-close {
  display: none;
}

.main-nav {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  padding: 0;
  width: 14em;
}

.main-nav > li {
  display: block;
  padding: 1.3rem 1.95rem;
}

.main-nav a {
  color: var(--color-primary-opposite);
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav li:hover {
  background-color: var(--color-accent);
  color: var(--color-primary-opposite);
}

.main-nav a:focus,
.main-nav li:focus {
  color: var(--color-accent);
  text-decoration: underline;
  outline: 3px solid var(--color-primary-opposite);
}

.nav-check:checked ~ .main-nav {
  display: block;
  background-color: var(--color-primary-light);
}

.nav-check:checked ~ .nav-label {
  background-position: center bottom;
  background-color: var(--color-primary-light);
}

[type="checkbox"].nav-check + .nav-label::before {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ .nav-label .icon-open {
  display: none;
}

.nav-check:checked ~ .nav-label .icon-close {
  display: block;
}

.tool-bar {
  background-color: var(--color-primary);
}

.in-cart {
  padding-left: 1rem;
}

.cart-icon {
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.cart-mover {
  transition: all .2s ease-in-out;
}

.cart-icon:focus {
  color: var(--color-accent);
  outline: 3px solid var(--color-primary-opposite);
}

.cart-icon:hover .cart-mover {
  transform: rotate(-15deg);
}

.cart-icon:focus .cart-mover {
  transform: rotate(-15deg);
}

.page-nav-item {
  text-decoration: none;
  font-weight: bold;
}

.page-nav-current {
  font-weight: bold;
  color: var(--color-secondary);
}

.page-nav-item:hover,
.page-nav-item:focus {
  color: var(--color-accent);
}

.socials {
  background-color: var(--color-primary);
}

.social-icons {
  color: var(--color-primary-opposite);
}

.social-icons:hover {
  color: var(--color-accent);
}

.social-icons:focus {
  outline: 3px solid var(--color-primary-opposite);
  color: var(--color-secondary);
}

.side-nav {
  background-color: var(--color-primary);
}

#filters,
.filter-btn {
  text-transform: uppercase;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

#filters:hover,
.filter-btn:hover,
#filters:hover .filter-btn-active {
  color: var(--color-accent);
  text-decoration: underline;
}

#filters:focus,
.filter-btn:focus,
#filters:focus .filter-btn-active {
  color: var(--color-accent);
  text-decoration: underline;
  outline: 3px solid var(--color-primary-opposite);
}

.filter-btn-close {
  display: none;
}

.filter-btn-active .filter-btn-close {
  display: inline-block;
}

.filter-btn-active .filter-btn-open {
  display: none;
}

.filter-links {
  background-color: var(--color-primary-light);
}

.filter-li:hover {
  background-color: var(--color-accent);
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.filter-a {
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.filter-li:hover .filter-a {
  background-color: var(--color-accent);
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.filter-a:focus {
  background-color: var(--color-accent);
  color: var(--color-primary-opposite);
  text-decoration: none;
  outline: 3px solid var(--color-primary-opposite);
}

.filter-btn-active {
  color: var(--color-primary-opposite);
}

.footer-nav {
  background-color: var(--color-primary);
}

.main-foot-items {
  text-transform: uppercase;
}

.foot-items {
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.foot-items:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.foot-items:focus {
  color: var(--color-accent);
  text-decoration: underline;
  outline: 3px solid var(--color-primary-opposite);
}

.foot-li {
  margin-bottom: 1.3rem;
}

.foot-list-items {
  display: none;
}

@media only screen and (min-width: 25em) {

  .main-foot-items{
    font-size: 1rem;
    line-height: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: static;
    padding: 0;
    transform: none;
    width: 100%;
  }

  .main-nav > li {
    width: 25%;
    padding: 0;
    margin: .65rem 0;
  }

  input.nav-check,
  label.nav-label {
    display: none;
  }

  .main-nav a:hover {
    background-color: var(--color-primary);
    color: var(--color-accent);
    text-decoration: underline;
  }

  .main-nav li:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
  }

}

@media only screen and  (min-width: 60em) {

  .main-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0;
    transform: none;
  }

  .main-nav > li {
    width: 15%;
    padding: 0;
    margin: .65rem 0;
  }

  .foot-li {
    margin-bottom: .9rem;
  }

  .foot-list-items {
    display: block;
  }

}
