.page-nav {
  text-decoration: none;
  font-weight: bold;
}

.page-nav-current {
  font-weight: bold;
  color: var(--color-secondary);
}

.page-nav:hover,
.page-nav:focus {
  color: var(--color-accent);
}

.socials {
  background-color: var(--color-primary);
}

.social-icons {
  color: var(--color-primary-opposite);
}

.social-icons:hover {
  color: var(--color-accent);
}

.social-icons:focus {
  outline: 3px solid var(--color-primary-opposite);
  color: var(--color-accent);
}
