<nav class="side-nav bold">
  <button class="mega island-1-2" id="filters">
    <span class="icon-label">Filters</span>
    <i class="icon i-24 filter-btn-open">
      <svg><use xlink:href="/images/icons.svg#right-arrow" /></svg>
    </i>
    <i class="icon i-24 filter-btn-close">
      <svg><use xlink:href="/images/icons.svg#close-arrow" /></svg>
    </i>
  </button>

  <div id="filter-buttons" hidden>
    {% for menu in site.data.filters %}
      <div>
        <button class="filter-btn island-1-2">
          <span class="icon-label milli">{{menu.name}}</span>
          {% if menu.items %}
            <i class="icon i-24 filter-btn-open">
              <svg><use xlink:href="/images/icons.svg#right-arrow" /></svg>
            </i>
            <i class="icon i-24 filter-btn-close">
              <svg><use xlink:href="/images/icons.svg#close-arrow" /></svg>
            </i>
          {% endif %}
        </button>

        {% if menu.items %}
          <ul class="filter-links list-group" hidden>
            {% for item in menu.items %}
            <li class="island filter-li"><a class="filter-a" href="#">{{item}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</nav>
