.flag-optional {
  color: var(--color-neutral-grey);
}

.is-validated input:invalid,
.is-validated select:invalid + label::before,
.is-validated input:invalid + label::before,
.is-validated:invalid,
.is-validated:invalid + label::before {
  border-color: var(--color-alert);
}

.error-message {
  display: none;
  background-color: var(--color-alert-light);
  color: var(--color-alert-dark);
  border-radius: 10px;
}

.error-message-highlighted {
  background-color: var(--color-alert-dark);
  color: var(--color-primary-opposite);
}

.is-validated > .error-message:first-child,
.is-validated > fieldset > .error-message:nth-child(2),
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

label {
  color: var(--color-primary-light);
}

.form-fields:not([type="checkbox"]),
.form-fields:not([type="radio"]) {
  border-radius: 2em;
  border: 3px solid var(--color-neutral-grey);
  padding: 0 1em;
  color: var(--color-neutral-grey);
}

.form-fields:focus {
  border-radius: 50px;
  border: 3px solid var(--color-secondary);
  color: var(--color-primary-light);
}

[type="checkbox"] + label::before {
  margin-right: .6em;
  border-radius: 10px;
  border: 3px solid var(--color-neutral-grey);
}

fieldset {
  border-top: none;
}

.radio-price,
.radio-desc {
  padding-left: 2.4em;
}

.radio-desc {
  color: var(--color-neutral-grey);
}

[type="radio"] + label::before {
  margin-right: .6em;
  border: 3px solid var(--color-neutral-grey);
}

.select-options:not([type="checkbox"]),
.select-options:not([type="radio"]) {
  border-radius: 2em;
  border: 3px solid var(--color-neutral-grey);
  padding: 0 1em;
  color: var(--color-neutral-grey);
}

.select-options:focus {
  border-radius: 50px;
  border: 3px solid var(--color-secondary);
  color: var(--color-primary-light);
}

.search-icon {
  color: var(--color-primary-light);
}

#search-input {
  border-radius: 50px;
  border: none;
  background-color: var(--color-primary-opposite);
  padding-left: 42px;
  height: 2em;
  font-size: 1rem;
  line-height: 1rem;
}

[placeholder] {
  color: var(--color-neutral-grey);
}
