.flag-optional {
  color: var(--color-neutral-grey);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated input[type="radio"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before,
.is-validated[type="radio"]:invalid + label::before {
  border-color: #d23;
}

.error-message {
  display: none;
  background-color: #fdd;
  color: #c3000f;
  border-radius: 0 0 10px 10px;
}

.error-message-highlighted {
  background-color: #c3000f;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

label {
  color: var(--color-primary-light);
}

.form-fields:not([type="checkbox"]), .form-fields:not([type="radio"]) {
  border-radius: 2em;
  border: 3px solid var(--color-neutral-grey);
  padding: 0 1em;
}

.form-fields:focus {
  border-radius: 50px;
  border: 3px solid var(--color-secondary);
}

[type="checkbox"] + label::before {
  border-radius: 10px;
  border: 3px solid var(--color-neutral-grey);
}

fieldset {
  border-top: none;
}

.radio-desc {
  color: var(--color-neutral-grey);
}

[type="radio"] + label::before {
  border: 3px solid var(--color-neutral-grey);
}

.search-icon {
  color: var(--color-primary-light);
}

#search-input {
  border-radius: 50px;
  border: none;
  background-color: var(--color-primary-opposite);
  padding-left: 42px;
  height: 2em;
  font-size: 1rem;
  line-height: 1rem;
}

[placeholder] {
  color: var(--color-neutral-grey);
}
