.page-banner {
  background-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.promotional {
  background-color: var(--color-accent);
  color: var(--color-primary-opposite);
}

.promotional:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.promotional:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.hero-banner {
  background: url("/images/stars-banner.jpg") center center / cover no-repeat var(--color-primary);
}

.hero-content {
  color: var(--color-primary-opposite);
  width: 100%;
}
