.page-banner {
  background-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.promotional {
  background-color: var(--color-accent);
  color: var(--color-primary-opposite);
  text-decoration: none;
}

.promotional:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.promotional:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary-opposite);
}

.hero-banner {
  background: url("/images/call-to-action-banner.jpg") center center / cover no-repeat var(--color-primary);
}

.hero-content {
  color: var(--color-primary-opposite);
  width: 100%;
}

.checkout-banner {
  color: var(--color-primary);
  background-color: var(--color-neutral-light-grey);
}

.checkout-h2 {
  text-transform: capitalize;
}

.checkout-num {
  color: var(--color-accent);
}
